.App {
    text-align: center;
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100vh;
    background: url("./Components/Images/wallpaperflare.com_wallpaper.jpg")no-repeat center/cover;
    grid-template-columns: 1fr 1fr;
}

.first {
    width: 400px;
    height: 400px;
    border-radius: 20px;
    background-color: grey;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: rgba(146,28,36,0.5);
}

.second {
    width: 300px;
    height: 200px;
    font-size: 140px;
    border-radius: 20px;
    background-color: rgba(179, 220, 186, 0.3);
    display: grid;
    justify-items: center;
    align-items: center;
    color: white;
}

.third {
    width: 300px;
    height: 120px;
    border-radius: 20px;
    background-color:  rgba(179, 220, 186, 0.3);
}

.error {
    width: 300px;
    height: 200px;
    font-size: 140px;
    border-radius: 20px;
    background-color: rgba(179, 220, 186, 0.3);
    display: grid;
    justify-items: center;
    align-items: center;
    color: black;
}

.disabled {
    opacity: 0.3;
    font-weight: lighter;
    color: black;
    background-color: rgba(204, 48, 49,0.5);
}

button {
    padding: 20px;
    font-size: 30px;
    margin: 20px 10px;
    font-weight: bold;
    background-color: rgba(17,31,49,0.7);
    color: rgba(204, 48, 49,1);
    border-radius: 20px;
}